   <div id="wrapper">
        <!-- add header here -->
        <header id="masthead" class="site-header" role="banner">
            <div class="top-bar container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-navigation">
                        <span class="icon-bars">Toggle navigation</span>
                    </button>
                </div>

                <div class="site-branding title-area">
                    <h1 id="logo" class="site-title">
                    <a href="#">{{title}}</a>
                    </h1>

                    <div class="site-description" itemprop="description">{{description}}
                    </div>			
                </div>
                <div class="header-search right">
                    <a href="#" class="search-toggler">
                    <span><i class="fa fa-search"></i></span>
                    </a>
                </div>
                <nav id="site-navigation" class="site-navigation pull-right">
                    <div id="navbar-collapse" class="navbar-collapse">
                        <ul id="navigation" class="nav navbar-nav navbar-right">
                       		<!-- 
                            <li><a href="#">Settings</a></li>
                    		-->
                        </ul>
                    </div>			
                </nav>
            </div>
        </header><!-- #masthead -->
                
        <!-- add main content here -->
        <div id="content" class="site-content container">
        <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            
            <article class="post-5 page type-page status-publish hentry">
                <header class="entry-header">
                  <h1 class="entry-title">{{header}}</h1>	
                </header>
                <!-- .entry-header -->
                
                <div class="entry-content">

                    <div class="well">

						<form name="siteConfig" ng-submit="setSiteConfig()">
							<div class="form-group">
								<label for="hc2IPAddress">HC2 IP Address</label>
								<input type="text" class="form-control" ng-model="siteConfig.hc2IPAddress"
                                       id="hc2IPAddress" placeholder="HC2 IP Address">
							</div>
						
							<div class="form-group">
								<label for="hc2Account">HC2 Account</label>
								<input type="text" class="form-control" ng-model="siteConfig.hc2Account"
                                       id="hc2Account" placeholder="HC2 Login Account">
							</div>
						
							<div class="form-group">
								<label for="hc2Password">HC2 Account Password</label>
								<input type="password" class="form-control" ng-model="siteConfig.hc2Password" 
                                       id="hc2Password" placeholder="HC2 Login Password">
							</div>
						
							<div class="form-group">
								<label for="wifiSSID">WiFi SSID:</label>
								<select class="form-control" 
                                        ng-options="option.name for option in ssidOptions track by option.name" 
                                        ng-model="siteConfig.ssidSelected"></select>
							</div>
						
							<div class="form-group">
								<label for="wifiPassword">WiFi AP Password</label>
								<input type="password" class="form-control" ng-model="siteConfig.wifiPassword" 
                                       id="wifiPassword" placeholder="WiFi Password">
							</div>
							
							<div class="form-group">
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
						
						</form>

                    </div><!-- .well -->
                    
                </div><!-- .entry-content -->
                
                <footer class="entry-footer">
                </footer><!-- .entry-footer -->

            </article>

        </main><!-- #main -->
        </div><!-- #primary -->
        </div><!-- #content -->

        <footer id="colophon" class="site-footer container" role="contentinfo">
            <div class="credit">
                <a href="#" title="Semantic Personal Publishing Platform" target="_blank">Powered by FLH</a>.
            </div>
            <div class="divider-half"></div>
        </footer><!-- #colophon -->


    </div> <!-- #wrapper -->
